/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply basic styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  h6 {
    font-size: 14px;
    text-align: center;
    color: #000000;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ff6600;
  }
  
  .hero {
    text-align: center;
    padding: 250px 0;
    background-image: url('D:\SEM5 PRO\PROJECT\image\templebg.jpg');
    background-size: cover;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #ff9933;
  }
  
  .about {
    text-align: center;
    padding: 40px 0;
  }
  
  .about h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
  }
  
  
  .dropdown.open .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  